.crm16-notfound { background-position: -2px -2px; }
.crm16-mission { background-position: -2px -20px; }
.crm16-contact { background-position: -2px -38px; }
.crm16-company { background-position: -2px -56px; }
.crm16-bell { background-position: -2px -74px; }
.crm16-bell-add { background-position: -2px -92px; }
.crm16-bell-delete { background-position: -2px -110px; }
.crm16-bell-error { background-position: -2px -128px; }
.crm16-bell-go { background-position: -2px -146px; }
.crm16-bell-notification { background-position: -2px -164px; }
.crm16-project { background-position: -2px -182px; }
.crm16-finished { background-position: -2px -200px; }
.crm16-nogo { background-position: -2px -218px; }
.crm16-phone { background-position: -2px -236px; }
.crm16-mobile { background-position: -2px -254px; }
.crm16-fax { background-position: -2px -272px; }
.crm16-mission-go { background-position: -2px -290px; }
.crm16-contact-go { background-position: -2px -308px; }
.crm16-company-go { background-position: -2px -326px; }
.crm16-mission-add { background-position: -2px -344px; }
.crm16-contact-add { background-position: -2px -362px; }
.crm16-company-add { background-position: -2px -380px; }
.crm16-book-addresses { background-position: -2px -398px; }