
/**************************************************************************
 * Company is pinky purple ; Contact is purple ; Mission is blue
 * blue : #D0DAFF
 * blue extra light: #F3F7FF
 * old blue extra light: #F0F0FF
 * purple: #ADA0D9
 * purple light: #CFCAEA
 * purple extra light: #EEEEFF
 * pinky purple: #DFBADD
 * pinky purple light: #e9e0ff
 **************************************************************************/

#content fieldset legend,
#content fieldset legend {
  font-size: 1.1em;
  font-weight: bold;
}

/**************************************************************************
 * Mission *
 **************************************************************************/
#page-mission-view FORM fieldset legend,
#page-mission-view FORM fieldset,
#page-missions-new-mission FORM fieldset legend,
#page-missions-new-mission FORM fieldset {
  background-color: #EEEEFF;
}
#page-mission-view FORM fieldset fieldset {
  background-color: #CFCAEA;
}

#page-mission-view FORM fieldset {
  padding: 2px;
  margin: 1px;
}

/* Mission view subviews */
#mission-view-contact {
  float: left;
  width: 100%;
}
#mission-view-edit {
  float: left;
}
#mission-view-comments {
  float: left;
  width: 100%;
}

/**************************************************************************
 * Company *
 **************************************************************************/
#page-company-view FORM fieldset legend,
#page-company-view FORM fieldset,
#page-companies-new-company FORM fieldset legend,
#page-companies-new-company FORM fieldset {
  background-color: #DFBADD;
}

#page-company-view #content {
  width: 500px;
}

/**************************************************************************
 * Contact *
 **************************************************************************/
#page-contact-view FORM fieldset legend,
#page-contact-view FORM fieldset,
#page-contacts-new-contact fieldset FORM legend,
#page-missions-new-contact fieldset FORM {
  background-color: #CFCAEA;
}

#page-contact-view #browse-list tr th {
  background-color: #D0DAFF;
}
#page-contact-view #browse-list tr.odd td {
  background-color: #F3F7FF;
}

/* Contact view subviews */
#contact-view-missions {
  float: left;
  width: 100%;
}
#contact-view-edit {
  float: left;
}
#contact-view-comments {
  float: left;
  width: 100%;
}

/* PREVIOUSLY *************************************************************/

#contact-main {
  background-color: #EEEEFF;
  padding: 5px 10px 0px 10px;
}
#contact-main legend {
  background-color: #EEEEFF;
  font-size: 1.2em;
}
#edit-mission table td,
#new-mission table td,
#contact-main table td {
  padding: 2px;
}

#content form #company {
  background-color: #DFBADD;
  margin: 0 10px;
}
#content form #company legend {
  background-color: #DFBADD;
  font-size: 1.1em;
}
fieldset#company legend a {
  padding-left: 20px;
}

#edit-mission,
#new-mission {
  background-color: #CFCAEA;/*B0F0A0;*/
  margin: 5px;
  padding: 4px 8px;
}
#edit-mission legend,
#new-mission legend {
  background-color: #CFCAEA;/*B0F0A0;*/
  font-size: 1.1em;
}
#edit-mission-details {
  background-color: #ADA0D9;
  margin: 0 5px 5px 0;
}
#edit-mission-title input,
#edit-mission-description textarea {
  background-color: #e9e0ff;
}
#edit-mission-comment legend {
  cursor: pointer;
}

#view-missions h3 {
  margin: 0 0 5px 0;
}
#view-missions p.batchcontrol {
  margin: 0 0 2px 0;
}

#view-missions table {
  background-color: #fff;
}
#crm-alerts table th,
#crm-search table th,
#view-missions table th {
  background-color: #CFCAEA;
}
#crm-alerts table tr.odd td,
#crm-search table tr.odd td,
#view-missions table tr.odd td {
  background-color: #EEEEFF;
}

#crm-search table th {
  padding: 5px;
}

#edit-mission table tr {
  background-color: inherit;
  vertical-align:top;
}

#mission-edit {
  width: 500px;
}
#mission-edit,
#comments-view {
  vertical-align: top;
}
#comments-list tr.comment-header,
#view-comments tr.comment-header {
  background-color: #ADA0D9; /*66BB66;*/
  font-weight: bold;
}
#comments-list tr.comment-header td,
#view-comments tr.comment-header  td {
  padding: 2px;
}
#comments-list td#view-comments,
#edit-mission table td#view-comments {
  padding-left: 10px;
  border-left: 1px solid #ADA0D9;
}
#comments-list tr td a,
#view-comments tr td a {
  color: #000;
}
#comments-list tr.comment-file td,
#view-comments tr.comment-file td {
  font-style: italic;
}
#comments-list tr.comment-text,
#view-comments tr.comment-text {
  background-color: #f0f0ff;
  font-size: 1.2em;
}
#comments-list tr.comment-text td,
#view-comments tr.comment-text td {
  padding: 4px;
}
#comments-list tr.comment-text pre,
#view-comments tr.comment-text pre {
  margin:0;
}
#comments-list tr.comment-file,
#view-comments tr.comment-file,
#comments-list tr.comment-alert,
#view-comments tr.comment-alert {
  background-color: #e9e0ff;
}

#crm-infos {
  margin: 20px 0 0 250px;
  padding: 0 50px 0 40px;
  border: 1px solid black;
  font-size: 1.1em;
}
#crm-infos td {
  padding: 15px;
}

#crm-infos td.total {
  border-top: 1px solid black;
}

#edit-mission td label {
  vertical-align: middle;
}

#new-mission td.amount input,
#edit-mission td.amount input,
#crm-infos td.amount {
  text-align: right;
}

#edit-company,
#new-company {
  text-decoration: underline;
  cursor: pointer;
}
#hide-company-form {
  cursor: pointer;
}
#edit-company.disabled {
  text-decoration: line-through;
  cursor: default;
}

/* Tags */
.ms2side__div select {
  width: 200px !important;
}

.crmsprites16 {
  background: url("icons/16x16/sprites.png") no-repeat scroll 0 0 transparent;
  display: block;
  float: left;
  height: 16px;
  vertical-align: top;
  width: 16px;
}
.crmsprites16.nofloat {
  display: inline;
  float: none;
}
.crmsprites16.mission { background-position: -2px -2px; }
.crmsprites16.contact { background-position: -2px -20px; }
.crmsprites16.company { background-position: -2px -38px; }
.crmsprites16.bell { background-position: -2px -56px; }
.crmsprites16.bell-add { background-position: -2px -74px; }
.crmsprites16.bell-delete { background-position: -2px -92px; }
.crmsprites16.bell-error { background-position: -2px -110px; }
.crmsprites16.bell-go { background-position: -2px -128px; }
.crmsprites16.bell-notification { background-position: -2px -146px; }
.crmsprites16.project { background-position: -2px -164px; }
.crmsprites16.finished { background-position: -2px -182px; }
.crmsprites16.nogo { background-position: -2px -200px; }
.crmsprites16.phone { background-position: -2px -218px; }
.crmsprites16.mobile { background-position: -2px -236px; }
.crmsprites16.fax { background-position: -2px -254px; }
.crmsprites16.mission-go { background-position: -2px -272px; }
.crmsprites16.contact-go { background-position: -2px -290px; }
.crmsprites16.company-go { background-position: -2px -308px; }
.crmsprites16.mission-add { background-position: -2px -326px; }
.crmsprites16.contact-add { background-position: -2px -344px; }
.crmsprites16.company-add { background-position: -2px -362px; }
.crmsprites16.book-addresses { background-position: -2px -380px; }

.button-calendar.button-selector {
  background-image: none;
}
