.mission { background-position: -2px -2px; }
.contact { background-position: -2px -20px; }
.company { background-position: -2px -38px; }
.bell { background-position: -2px -56px; }
.bell_add { background-position: -2px -74px; }
.bell_delete { background-position: -2px -92px; }
.bell_error { background-position: -2px -110px; }
.bell_go { background-position: -2px -128px; }
.bell_notification { background-position: -2px -146px; }
.project { background-position: -2px -164px; }
.finished { background-position: -2px -182px; }
.nogo { background-position: -2px -200px; }
.phone { background-position: -2px -218px; }
.mobile { background-position: -2px -236px; }
.fax { background-position: -2px -254px; }
.mission_go { background-position: -2px -272px; }
.contact_go { background-position: -2px -290px; }
.company_go { background-position: -2px -308px; }
.mission_add { background-position: -2px -326px; }
.contact_add { background-position: -2px -344px; }
.company_add { background-position: -2px -362px; }
.book_addresses { background-position: -2px -380px; }